* {
  font-size: 18px;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

nav {
  background-color: #F15A24;
  float: left;
  font-size: 16px;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 48px;
  line-height: 1.05em;
  padding: 1em;
}

h3 {
  font-size: 28px;
  line-height: 1.25em;
  padding: 1em;
}

.author{
  padding: 1em;
}

.story-text {
  padding: 1em;
}

p {
  font-size: 20px;
  line-height: 1.375em;
  padding: 1em;
}

figcaption {
  font-size: 14px;
  padding: 1em;
}

a {
  color: #F2F2F2;
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  padding: 1em;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
